@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Inter&family=Manrope:wght@200&display=swap");

body {
  background-color: #4b7844;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 10rem;
  color: #f2eddc;
  line-height: 11.5rem;
  font-family: "Fjalla One", sans-serif;
  overflow-y: hidden;
  margin-left: 35px;
}

h1 span {
  font-size: 7rem;
}

a {
  display: flex;
  align-items: center;
  color: #d2ee15;
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-family: "Inter", sans-serif;
  margin-left: 35px;
}

nav {
  background: #0f2d0a;
}

h2 {
  border-radius: 50%;
  border: 1px solid #d2ee15;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d2ee15;
  font-family: "Manrope", sans-serif;
  animation: moveInFromLeft 1s ease-in-out;
  font-size: 1.5rem;
  margin-left: 35px;
}

@media screen and (max-width: 450px) {
  h1 {
    margin-left: 10px;
  }

  h2 {
    margin-left: 10px;
  }

  a {
    margin-left: 10px;
  }
}
